<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>month</key>
		<string>Jan</string>
		<key>avgHighTemp</key>
		<real>9.9</real>
		<key>avgLowTemp</key>
		<real>2.5</real>
		<key>meanTemp</key>
		<real>6.1</real>
		<key>avgRainfall</key>
		<real>52.3</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Feb</string>
		<key>avgHighTemp</key>
		<real>10.4</real>
		<key>avgLowTemp</key>
		<real>2.9</real>
		<key>meanTemp</key>
		<real>6.5</real>
		<key>avgRainfall</key>
		<real>56.1</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Mar</string>
		<key>avgHighTemp</key>
		<real>13.3</real>
		<key>avgLowTemp</key>
		<real>5.6</real>
		<key>meanTemp</key>
		<real>9.4</real>
		<key>avgRainfall</key>
		<real>117.5</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Apr</string>
		<key>avgHighTemp</key>
		<real>18.8</real>
		<key>avgLowTemp</key>
		<real>10.7</real>
		<key>meanTemp</key>
		<real>14.6</real>
		<key>avgRainfall</key>
		<real>124.5</real>
	</dict>
	<dict>
		<key>month</key>
		<string>May</string>
		<key>avgHighTemp</key>
		<real>22.8</real>
		<key>avgLowTemp</key>
		<real>15.4</real>
		<key>meanTemp</key>
		<real>18.9</real>
		<key>avgRainfall</key>
		<real>137.8</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Jun</string>
		<key>avgHighTemp</key>
		<real>25.5</real>
		<key>avgLowTemp</key>
		<real>19.1</real>
		<key>meanTemp</key>
		<real>22.1</real>
		<key>avgRainfall</key>
		<real>167.7</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Jul</string>
		<key>avgHighTemp</key>
		<real>29.4</real>
		<key>avgLowTemp</key>
		<real>23</real>
		<key>meanTemp</key>
		<real>25.8</real>
		<key>avgRainfall</key>
		<real>153.5</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Aug</string>
		<key>avgHighTemp</key>
		<real>31.1</real>
		<key>avgLowTemp</key>
		<real>24.5</real>
		<key>meanTemp</key>
		<real>27.4</real>
		<key>avgRainfall</key>
		<real>168.2</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Sep</string>
		<key>avgHighTemp</key>
		<real>27.2</real>
		<key>avgLowTemp</key>
		<real>21.1</real>
		<key>meanTemp</key>
		<real>23.8</real>
		<key>avgRainfall</key>
		<real>209.9</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Oct</string>
		<key>avgHighTemp</key>
		<real>21.8</real>
		<key>avgLowTemp</key>
		<real>15.4</real>
		<key>meanTemp</key>
		<real>18.5</real>
		<key>avgRainfall</key>
		<real>197.8</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Nov</string>
		<key>avgHighTemp</key>
		<real>16.9</real>
		<key>avgLowTemp</key>
		<real>9.9</real>
		<key>meanTemp</key>
		<real>13.3</real>
		<key>avgRainfall</key>
		<real>92.5</real>
	</dict>
	<dict>
		<key>month</key>
		<string>Dec</string>
		<key>avgHighTemp</key>
		<real>12.4</real>
		<key>avgLowTemp</key>
		<real>5.1</real>
		<key>meanTemp</key>
		<real>8.699999999999999</real>
		<key>avgRainfall</key>
		<integer>51</integer>
	</dict>
</array>
</plist>
